<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084450196207-qjjnscbfraq6bm5dv9fdt51b988p0emi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084450196207-qjjnscbfraq6bm5dv9fdt51b988p0emi</string>
	<key>API_KEY</key>
	<string>AIzaSyDCp45lgCmZsFGGWHpWdWJxUTeN4B9rwew</string>
	<key>GCM_SENDER_ID</key>
	<string>1084450196207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somee.nkkha.Instagram</string>
	<key>PROJECT_ID</key>
	<string>ios-instagram-1a703</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-instagram-1a703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084450196207:ios:76ea39c2faf54ad32aa91a</string>
	<key>DATABASE_URL</key>
	<string>https://ios-instagram-1a703.firebaseio.com</string>
</dict>
</plist>